{% extends 'base.html.twig' %}

{% block title %}Account Blocked{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-danger">
            <h1>Your account is blocked.</h1>
            <p>Please contact support for assistance.</p>
        </div>
    </div>
{% endblock %}
