<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>S'authentifer</title>
  <link rel="stylesheet" href="{{asset('./stylee.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="{{asset('slide navbar stylee.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="Nom" required="">
                    <input type="text" name="txt" placeholder="Prénom" required="">
					<input type="email" name="email" placeholder="Email" required="">
                    <input type="date" name="dob" placeholder="Date de naissance" required="">
					<input type="password" name="pswd" placeholder="Mot de passe" required="">

                    <select name="role" required="">
                <option value="" disabled selected>Choisir le rôle</option>
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_SOCIETE">Société</option>
                <option value="ROLE_USER">Utilisateur</option>
            </select>









					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Login</button>
				</form>
			</div>
	</div>
</body>
</html>
<!-- partial -->

</body>
</html>